<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>闹钟设置</title>

</head>
<body>
<form action="/update" method="post">
    我的线路：<input type="text" name="busNo">
    <input type="button" name="search">搜索
    <br/>
    <input type="hidden" name="direction">
    <input type="hidden" name="deptStop">
    <input type="hidden" name="deptStopName">
    <br>
    最晚提醒时间:<input type="time" name="deptTime">
    <br>
    开始提醒时间:<input type="time" name="startAlarm">
    <br>
    <input type="checkbox" name="daySwitch" value="1">工作日
    <br>
    <input type="checkbox" name="daySwitch" value="2">每周六
    <br>
    <input type="checkbox" name="daySwitch" value="3">每周日
    <br>
    <br/>
    <button type="submit">提交</button>
    <button type="reset">重置</button>
</form>
</body>

<script type="text/javascript">
    $("input[name='search']").click(function () {
        alert("fdafda");
        $.ajax({
            url: "",
            data: {cate_id: id, key_word: key_word, '_token': '{{csrf_token()}}'},
            type: "GET",
            success: function (data) {

                if (data.status == 1) {
                    var html = '';
                    // for(var i=0;i<data.data.length;i++){
                    //     items= data.data[i];
                    //     html='<li><div class="img">'+
                    //         '<img src=" ' + '/upload/' + items.pic + '">' +
                    //     '</div><p class="p"><span>'+items.title+
                    //         '</span><time>'+items.year +
                    //         '</time></p><h2 class="h2">'+items.description +
                    //         '</h2></a></li>'
                    //     list=list+html;
                    // }
                    //  $('.search_show').html(html)
                    $.each(data.data, function (no, items) {
                        html +=
                            '<li><div class="img">' +
                            '<img src=" ' + '/upload/' + items.pic + '">' +
                            '</div><p class="p"><span>' + items.title +
                            '</span><time>' + items.year +
                            '</time></p><h2 class="h2">' + items.description +
                            '</h2></a></li>'
                    });
                    //console.log(html)
                    $('.search_show').html(html)//显示数据，同时覆盖上一次搜索的数据
                }

            }
        })

    })
</script>
</html>